@import "vars";

@mixin sectionstyling($picture){
    background-image: url($picture);
    background-size: cover;
    height: 400px;
    box-sizing: border-box;
    padding: 20px;
    width: 45%;
    min-width: 200px;
    opacity: 0.6;
    transition: all 0.5s;

    &:hover{
        opacity: 1;
    }

    h2{
        font-family: $headings;
        color: $headings-color;
    }

    button{
        border: 5px solid black;
        background: none;
        font-weight: bold;
    }
}